<!doctype html>
<html>
  <head>
    <title>polymer-flexslider demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../polymer-flexslider.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered" style="max-width: 500px">
      <h3>Basic polymer-flexslider Demo</h3>
      <demo-snippet>
        <template>
          <polymer-flexslider width="500" height="300">
            <li><img src="http://lorempixel.com/500/300/"></li>
            <li><img src="http://lorempixel.com/500/300/"></li>
            <li><img src="http://lorempixel.com/500/300/"></li>
          </polymer-flexslider>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
